

body{ background-position:left top; }


 #text_style_02_1490063023274{display:block;z-index:8;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_02_1490063023274{z-index:2;}}   @media screen and (max-width:640px) {#text_style_02_1490063023274{display:block;z-index:10;}} 

 #text_style_02_1490063046138{display:block;z-index:8;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_02_1490063046138{z-index:2;}}   @media screen and (max-width:640px) {#text_style_02_1490063046138{display:block;z-index:10;}} 

 #dh_style_01_1490063713095{display:block;z-index:8;width:1px;}   @media screen and (min-width:641px) and (max-width:1200px) {#dh_style_01_1490063713095{z-index:2;}}   @media screen and (max-width:640px) {#dh_style_01_1490063713095{display:block;z-index:10;}} 

 #image_logo_1499907986463{width:565px;height:86px;position:absolute;top:63.5px;left:6.442708333333333%;}   @media screen and (min-width:641px) and (max-width:1200px) {#image_logo_1499907986463{left:5.391702014846236%;top:70px;width:444px;height:77px;}}   @media screen and (max-width:640px) {#image_logo_1499907986463{width:87.2%;height:63px;top:16px;left:6.4%;z-index:2;}} 

 #text_style_02_1499908770705{width:22%;font-size:46px;color:#333;line-height:50px;font-family:microsoft yahei;position:absolute;top:0px;left:7.192708333333334%;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_02_1499908770705{width:262px;left:5.391702014846236%;top:0px;}}   @media screen and (max-width:640px) {#text_style_02_1499908770705{width:96.3157894736842%;top:0px;left:1.8421052631578974%;z-index:2;display:none;}}  #text_style_02_1499908770705>.view_contents {box-sizing:border-box;font-size:13px;color:#7f7f7f;height:38px;line-height:38px;} @media screen and (min-width:641px) and (max-width:1200px) { #text_style_02_1499908770705>.view_contents {box-sizing:border-box;}} @media screen and (max-width:640px) { #text_style_02_1499908770705>.view_contents {box-sizing:border-box;color:#ffffff;}}

 #image_style_01_1499907883102{width:258px;height:63px;position:absolute;top:75px;left:75.01302083333333%;}   @media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1499907883102{left:71.44088016967126%;top:77px;width:219px;}}   @media screen and (max-width:640px) {#image_style_01_1499907883102{width:31.31578947368421%;height:27px;top:6px;left:65.25082236842105%;display:none;z-index:2;}} #image_style_01_1499907883102 > .view_contents{overflow:visible;} 

 #qqol_style_01_1500426855294{width:17.5%;position:absolute;top:10.5px;left:84.375%;}   @media screen and (min-width:641px) and (max-width:1200px) {#qqol_style_01_1500426855294{width:392px;left:58.430540827147404%;top:5px;}}   @media screen and (max-width:640px) {#qqol_style_01_1500426855294{width:28.947368421052634%;top:0px;left:70.26315789473684%;display:none;z-index:2;}} #qqol_style_01_1500426855294 > .view_contents{overflow:visible;}  #qqol_style_01_1500426855294  {background:rgba(53,136,83,0);}

 #dh_style_01_1501468333534{width:90%;z-index:9;position:absolute;top:173px;left:6.541666666666666%;}   @media screen and (min-width:641px) and (max-width:1200px) {#dh_style_01_1501468333534{z-index:999;}}   @media screen and (max-width:640px) {#dh_style_01_1501468333534{width:12.121212121212121%;z-index:11;top:88px;left:79.19819078947368%;}} #dh_style_01_1501468333534 > .view_contents{overflow:visible;}  #dh_style_01_1501468333534 .mainMenuSet {color:#ffffff;font-size:14px;line-height:48px;height:48px;border-right-style:solid;border-right-width:1px;border-right-color:#2d8851;} #dh_style_01_1501468333534 #hot>a {color:#00bf00;font-size:14px;line-height:48px;height:48px;} #dh_style_01_1501468333534 .icoMenuSet {color:#ffffff;font-size:14px;} @media screen and (max-width:640px) { #dh_style_01_1501468333534 .icoMenuSet {font-size:34px;}}

 #div_blank_1543302037348{width:25%;height:200px;display:none;position:absolute;left:37.5%;top:174.25px;}   @media screen and (min-width:641px) and (max-width:1200px) {#div_blank_1543302037348{width:31.25%;height:200px;display:none;left:34.375%;top:174.25px;}}   @media screen and (max-width:640px) {#div_blank_1543302037348{width:100%;height:46px;display:block;top:90px;left:0%;z-index:1;}} #div_blank_1543302037348 > .view_contents{overflow:visible;}  #div_blank_1543302037348  {box-sizing:border-box;background:rgba(0,0,0,.6);} @media screen and (min-width:641px) and (max-width:1200px) { #div_blank_1543302037348  {box-sizing:border-box;}} @media screen and (max-width:640px) { #div_blank_1543302037348  {box-sizing:border-box;background:#1d7641;}}

 #text_style_01_1604288730044{width:47.16666666666667%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;top:7px;left:28.625%;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1604288730044{left:33.17537115588547%;top:7px;}}   @media screen and (max-width:640px) {#text_style_01_1604288730044{width:50%;font-size:12px;color:#333;line-height:1.6;top:0px;left:25%;display:none;}}  #text_style_01_1604288730044>.view_contents {font-size:14px;line-height:24px;} #comm_layout_header{height:227px;display:none;}   @media screen and (min-width:641px) and (max-width:1200px) {#comm_layout_header{height:226px;display:none;}}   @media screen and (max-width:640px) {#comm_layout_header{height:136px;display:none;z-index:99999;}} #comm_layout_header > .view_contents{overflow:visible;max-width:1200px;}  #comm_layout_header  {background: url(../img/upimages/1/bg1.jpg);background-repeat:repeat-x;background-position-x:0%;background-position-y:0%;} @media screen and (max-width:640px) { #comm_layout_header  {background-size:cover;}}
/*----------------------电脑板式样式----------------------*/
#comm_layout_header{
	display:block;
}
/*----------------------平板板式样式----------------------*/
@media screen and (min-width:641px) and (max-width:1300px) {
	#comm_layout_header{
		
	}
}
/*----------------------手机板式样式----------------------*/
@media screen and (max-width:640px) {
	#comm_layout_header{
		
	}
}
 #layout_1500020464304{height:565px;}   @media screen and (min-width:641px) and (max-width:1200px) {#layout_1500020464304{height:396px;}}   @media screen and (max-width:640px) {#layout_1500020464304{height:203px;}} #layout_1500020464304 > .view_contents{overflow:visible;max-width:1200px;}  #layout_1500020464304  {background: url(../img/upimages/banner/20170714163423593.jpg);background-repeat:repeat-x;background-size:cover;background-position-x:50%;} @media screen and (min-width:641px) and (max-width:1200px) { #layout_1500020464304  {background-size:cover;background-position-x:50%;}} @media screen and (max-width:640px) { #layout_1500020464304  {background-size:cover;background-position-x:50%;}}


 #homelink_style_01_1500020553614{width:33.404029692470836%;position:absolute;top:16px;left:5.463541666666667%;z-index:2;}   @media screen and (min-width:641px) and (max-width:1200px) {#homelink_style_01_1500020553614{top:15px;left:5.867245493107105%;width:33.404029692470836%;}}   @media screen and (max-width:640px) {#homelink_style_01_1500020553614{width:77.36842105263158%;top:4px;left:0.5263157894736842%;}}  #homelink_style_01_1500020553614 .textSet {font-size:13px;}

 #image_style_01_1500020488997{width:87.38069989395547%;height:41px;position:absolute;top:51px;left:6.309650053022267%;z-index:1;}   @media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1500020488997{top:50px;left:7.540760869565218%;width:87.38069989395547%;}}   @media screen and (max-width:640px) {#image_style_01_1500020488997{width:92.63157894736842%;height:41px;top:39px;left:4.473684210526316%;display:none;}} #image_style_01_1500020488997 > .view_contents{overflow:visible;} 

 #text_style_02_1500020701569{width:11.983032873807%;font-size:46px;color:#333;line-height:50px;font-family:microsoft yahei;position:absolute;top:107px;left:6.308593749999999%;z-index:4;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_02_1500020701569{top:107px;left:7.540760869565218%;width:11.983032873807%;}}   @media screen and (max-width:640px) {#text_style_02_1500020701569{width:45.526315789473685%;top:49px;left:3.9375%;}}  #text_style_02_1500020701569>.view_contents {box-sizing:border-box;background:#dc3b13;color:#ffffff;font-family:Microsoft YaHei;font-size:15px;text-align:center;line-height:35px;height:35px;} #text_style_02_1500020701569 .diyCurTab {background:#dc3b13;color:#ffffff;font-family:Microsoft YaHei;font-size:15px;text-align:center;height:35px;line-height:35px;} #text_style_02_1500020701569 .view_contents:active {background:#dc3b13;color:#ffffff;font-family:Microsoft YaHei;font-size:15px;text-align:center;line-height:35px;height:35px;} #text_style_02_1500020701569 .view_contents:hover {color:#ffffff;font-family:Microsoft YaHei;font-size:15px;text-align:center;line-height:35px;height:35px;background:#dc3b13;} @media screen and (min-width:641px) and (max-width:1200px) { #text_style_02_1500020701569>.view_contents {box-sizing:border-box;}} @media screen and (max-width:640px) { #text_style_02_1500020701569>.view_contents {box-sizing:border-box;}}

 #text_style_02_1500020950010{width:11.983032873807%;font-size:46px;color:#333;line-height:50px;font-family:microsoft yahei;position:absolute;top:107px;left:20.174479166666668%;z-index:3;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_02_1500020950010{top:107px;left:22.27598091198303%;width:11.983032873807%;}}   @media screen and (max-width:640px) {#text_style_02_1500020950010{width:45.263157894736835%;top:49px;left:52.104166666666664%;}}  #text_style_02_1500020950010>.view_contents {box-sizing:border-box;background:#1d7641;color:#ffffff;font-family:Microsoft YaHei;font-size:15px;text-align:center;line-height:35px;height:35px;} #text_style_02_1500020950010 .diyCurTab {background:#dc3b13;color:#ffffff;font-family:Microsoft YaHei;font-size:15px;text-align:center;height:35px;line-height:35px;} #text_style_02_1500020950010 .view_contents:active {background:#dc3b13;color:#ffffff;font-family:Microsoft YaHei;font-size:15px;text-align:center;line-height:35px;height:35px;} #text_style_02_1500020950010 .view_contents:hover {color:#ffffff;font-family:Microsoft YaHei;font-size:15px;text-align:center;line-height:35px;height:35px;background:#dc3b13;} @media screen and (min-width:641px) and (max-width:1200px) { #text_style_02_1500020950010>.view_contents {box-sizing:border-box;}} @media screen and (max-width:640px) { #text_style_02_1500020950010>.view_contents {box-sizing:border-box;}}

 #image_style_01_1500020620875{width:1.9088016967126193%;height:46px;position:absolute;top:74px;left:25.212239583333336%;z-index:2;}   @media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1500020620875{top:75px;left:12.859557264050903%;width:1.9088016967126193%;height:39px;}}   @media screen and (max-width:640px) {#image_style_01_1500020620875{width:0.2631578947368421%;height:5px;top:9px;left:52.10526315789473%;}} #image_style_01_1500020620875 > .view_contents{overflow:visible;} 

 #image_style_01_1500021121354{width:1.9088016967126193%;height:46px;position:absolute;top:76px;left:11.350260416666668%;z-index:2;}   @media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1500021121354{top:74px;left:27.316410392364794%;width:1.9088016967126193%;height:38px;}}   @media screen and (max-width:640px) {#image_style_01_1500021121354{width:0.2631578947368421%;height:8px;top:4px;left:64.60526315789473%;}} #image_style_01_1500021121354 > .view_contents{overflow:visible;}  #layout_1501075256495{height:174px;}   @media screen and (min-width:641px) and (max-width:1200px) {#layout_1501075256495{height:175px;}}   @media screen and (max-width:640px) {#layout_1501075256495{height:103px;}} #layout_1501075256495 > .view_contents{overflow:visible;max-width:1200px;}  #layout_1501075256495  {background: url(../img/upimages/3/bg3.jpg);} @media screen and (min-width:641px) and (max-width:1200px) { #layout_1501075256495  {background: url(../img/upimages/3/bg3.jpg);}} @media screen and (max-width:640px) { #layout_1501075256495  {background: url(../img/upimages/3/bg3.jpg);}}


 #text_style_02_1501075085341{width:30.833333333333336%;font-size:46px;color:#333;line-height:50px;font-family:microsoft yahei;position:absolute;top:6px;left:34.58333333333333%;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_02_1501075085341{}}   @media screen and (max-width:640px) {#text_style_02_1501075085341{width:100%;top:0px;left:0%;}}  #text_style_02_1501075085341>.view_contents {box-sizing:border-box;font-family:Microsoft YaHei;font-weight:bold;text-align:center;} @media screen and (min-width:641px) and (max-width:1200px) { #text_style_02_1501075085341>.view_contents {box-sizing:border-box;}} @media screen and (max-width:640px) { #text_style_02_1501075085341>.view_contents {box-sizing:border-box;font-size:32px;}} #layout_1501074681457{height:70px;}   @media screen and (min-width:641px) and (max-width:1200px) {#layout_1501074681457{}}   @media screen and (max-width:640px) {#layout_1501074681457{height:76px;}} #layout_1501074681457 > .view_contents{overflow:visible;max-width:1200px;}  #layout_1501074681457  {background: url(../img/upimages/3/bg3.jpg);}


 #text_default_1501074711899{width:86.66666666666667%;height:386px;position:absolute;top:10px;left:6.666666666666667%;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_default_1501074711899{height:851px;}}   @media screen and (max-width:640px) {#text_default_1501074711899{width:91.3157894736842%;height:571px;top:0px;left:4.2105263157894735%;}} 

 #text_default_1591940800498{width:86.66666666666667%;height:441px;position:absolute;top:1172px;left:6.666666666666664%;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_default_1591940800498{height:466px;left:calc(50% - 408.5px);top:914px;}}   @media screen and (max-width:640px) {#text_default_1591940800498{width:91.3157894736842%;height:621px;top:930px;left:4.342105263157897%;}} 

 #image_style_11_1591941437197{width:87.16666666666667%;position:absolute;top:442px;left:6.833333333333333%;}   @media screen and (min-width:641px) and (max-width:1200px) {#image_style_11_1591941437197{top:435px;left:3.915363202545069%;}}   @media screen and (max-width:640px) {#image_style_11_1591941437197{width:96%;top:581px;left:2%;}} #image_style_11_1591941437197 > .view_contents{overflow:visible;}  #layout_1501074695785{height:1621px;}   @media screen and (min-width:641px) and (max-width:1200px) {#layout_1501074695785{height:1380px;}}   @media screen and (max-width:640px) {#layout_1501074695785{height:1561px;}} #layout_1501074695785 > .view_contents{overflow:visible;max-width:1200px;}  #layout_1501074695785  {background: url(../img/upimages/3/bg3.jpg);}


 #image_style_01_1499954777108{width:1232px;height:166px;position:absolute;top:10px;left:calc(50% - 616px);}   @media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1499954777108{height:134px;width:91.83457051961824%;left:4.08271474019088%;top:32px;}}   @media screen and (max-width:640px) {#image_style_01_1499954777108{width:100%;height:61px;top:14px;left:0%;}} #image_style_01_1499954777108 > .view_contents{overflow:visible;} 

 #text_style_02_1499955102281{width:27.500000000000004%;font-size:46px;color:#333;line-height:50px;font-family:microsoft yahei;position:absolute;top:295.99432373046875px;left:63.455963134765625%;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_02_1499955102281{left:58.91768292682927%;top:287px;width:369px;}}   @media screen and (max-width:640px) {#text_style_02_1499955102281{width:62.89473684210526%;top:238px;left:23.157894736842106%;display:none;}}  #text_style_02_1499955102281>.view_contents {box-sizing:border-box;font-size:13px;line-height:25px;height:128px;} @media screen and (min-width:641px) and (max-width:1200px) { #text_style_02_1499955102281>.view_contents {box-sizing:border-box;height:125px;}} @media screen and (max-width:640px) { #text_style_02_1499955102281>.view_contents {box-sizing:border-box;text-align:left;height:187px;}} @media screen and (max-width:640px) { #text_style_02_1499955102281 .diyCurTab {text-align:center;}}

 #image_style_01_1499954921323{width:22px;height:25px;position:absolute;top:296px;left:35.0859375%;}   @media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1499954921323{left:30.791025980911986%;top:288px;}}   @media screen and (max-width:640px) {#image_style_01_1499954921323{width:22px;height:25px;top:87px;left:calc(50% - 11px);display:none;}} #image_style_01_1499954921323 > .view_contents{overflow:visible;} 

 #text_style_02_1499955193778{width:40.416666666666664%;font-size:46px;color:#333;line-height:50px;font-family:microsoft yahei;position:absolute;top:368.99432373046875px;left:37.858662923177086%;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_02_1499955193778{left:34.116516436903495%;top:358px;width:208px;}}   @media screen and (max-width:640px) {#text_style_02_1499955193778{width:70.52631578947368%;top:76px;left:14.736842105263158%;}}  #text_style_02_1499955193778>.view_contents {box-sizing:border-box;font-size:13px;line-height:25px;height:25px;} @media screen and (min-width:641px) and (max-width:1200px) { #text_style_02_1499955193778>.view_contents {box-sizing:border-box;}} @media screen and (max-width:640px) { #text_style_02_1499955193778>.view_contents {box-sizing:border-box;text-align:center;}}

 #image_style_01_1499994104716{width:135px;height:139px;position:absolute;top:295.99432373046875px;left:14.657432556152344%;}   @media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1499994104716{left:8.42722693531283%;top:287px;height:142px;width:143px;}}   @media screen and (max-width:640px) {#image_style_01_1499994104716{width:34.473684210526315%;height:133px;top:204px;left:32.89473684210527%;}} #image_style_01_1499994104716 > .view_contents{overflow:visible;} 

 #text_style_02_1499955007948{width:19.833333333333332%;font-size:46px;color:#333;line-height:50px;font-family:microsoft yahei;position:absolute;top:296px;left:37.859375%;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_02_1499955007948{left:34.118173382820785%;top:288px;width:194px;}}   @media screen and (max-width:640px) {#text_style_02_1499955007948{width:61.31578947368421%;top:451px;left:12.495888157894736%;display:none;}}  #text_style_02_1499955007948>.view_contents {box-sizing:border-box;font-size:13px;line-height:25px;height:52px;} @media screen and (min-width:641px) and (max-width:1200px) { #text_style_02_1499955007948>.view_contents {box-sizing:border-box;}} @media screen and (max-width:640px) { #text_style_02_1499955007948>.view_contents {box-sizing:border-box;text-align:left;}}

 #text_default_1500035594079{width:4.333333333333334%;height:35px;position:absolute;top:422.99432373046875px;left:37.857477823893234%;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_default_1500035594079{top:412px;left:34.116516436903495%;}}   @media screen and (max-width:640px) {#text_default_1500035594079{width:22.105263157894736%;height:32px;top:135.99432373046875px;left:46.96136271158854%;}} 

 #image_style_01_1499955202692{width:23px;height:23px;position:absolute;top:371px;left:35.0859375%;}   @media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1499955202692{left:30.57893690349947%;top:358px;}}   @media screen and (max-width:640px) {#image_style_01_1499955202692{width:20px;height:21px;top:465px;left:13.285361842105264%;display:none;}} #image_style_01_1499955202692 > .view_contents{overflow:visible;} 

 #image_style_01_1499955094092{width:23px;height:21px;position:absolute;top:303px;left:59.97206115722656%;}   @media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1499955094092{top:288px;left:55.27571580063627%;}}   @media screen and (max-width:640px) {#image_style_01_1499955094092{width:4.736842105263158%;height:19px;top:278px;left:11.70641447368421%;display:none;}} #image_style_01_1499955094092 > .view_contents{overflow:visible;} 

 #text_style_02_1514538042134{width:11.833333333333334%;font-size:46px;color:#333;line-height:50px;font-family:microsoft yahei;position:absolute;top:414.9715881347656px;left:77.28811645507812%;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_02_1514538042134{width:13.043478260869565%;left:76.9883351007423%;top:387px;}}   @media screen and (max-width:640px) {#text_style_02_1514538042134{width:39.21052631578947%;top:100.99432373046875px;left:30.394736842105264%;}}  #text_style_02_1514538042134>.view_contents {box-sizing:border-box;font-size:13px;line-height:25px;height:35px;font-family:Microsoft YaHei;} @media screen and (min-width:641px) and (max-width:1200px) { #text_style_02_1514538042134>.view_contents {box-sizing:border-box;height:30px;}} @media screen and (max-width:640px) { #text_style_02_1514538042134>.view_contents {box-sizing:border-box;text-align:center;height:35px;}} @media screen and (max-width:640px) { #text_style_02_1514538042134 .diyCurTab {text-align:center;}}

 #text_style_02_1598336094677{width:16.333333333333332%;font-size:46px;color:#333;line-height:50px;font-family:microsoft yahei;position:absolute;top:389.977294921875px;left:37.856292724609375%;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_02_1598336094677{width:22.01058201058201%;left:34.09992520771329%;top:382.9971618652344px;}}   @media screen and (max-width:640px) {#text_style_02_1598336094677{width:70.52631578947368%;top:343.984375px;left:14.736842105263158%;}}  #text_style_02_1598336094677>.view_contents {box-sizing:border-box;font-size:13px;line-height:25px;height:25px;} @media screen and (min-width:641px) and (max-width:1200px) { #text_style_02_1598336094677>.view_contents {box-sizing:border-box;}} @media screen and (max-width:640px) { #text_style_02_1598336094677>.view_contents {box-sizing:border-box;text-align:center;}}

 #text_style_01_1604113618492{width:30.833333333333336%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;top:414.9715881347656px;left:63.45525105794271%;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1604113618492{left:58.91768292682927%;top:407.984375px;}}   @media screen and (max-width:640px) {#text_style_01_1604113618492{width:96%;font-size:12px;color:#333;line-height:1.6;top:374.984375px;left:2%;display:none;}}  #text_style_01_1604113618492>.view_contents {font-size:13px;} @media screen and (max-width:640px) { #text_style_01_1604113618492>.view_contents {text-align:center;}}

 #text_default_1611814987038{width:16.833333333333332%;height:40px;position:absolute;top:345.4921875px;left:37.85807291666667%;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_default_1611814987038{}}   @media screen and (max-width:640px) {#text_default_1611814987038{width:100%;height:300px;top:0px;left:0%;}}  #comm_layout_footer{height:457.9921875px;display:block;}   @media screen and (min-width:641px) and (max-width:1200px) {#comm_layout_footer{height:459px;display:block;}}   @media screen and (max-width:640px) {#comm_layout_footer{height:432px;display:block;}} #comm_layout_footer > .view_contents{max-width:1200px;}  #comm_layout_footer  {background: url(../img/upimages/13/bg13.jpg);background-repeat:repeat-x;} @media screen and (min-width:641px) and (max-width:1200px) { #comm_layout_footer  {background-size:auto;}} @media screen and (max-width:640px) { #comm_layout_footer  {background-repeat:repeat;background-size:auto;}}
.logoStyle *{box-sizing: border-box;}
.logoStyle { height:100%; width:100%; overflow: hidden; box-sizing: border-box;}
.logoStyle>a{overflow: hidden; width: 100%;height: 100%; display: block;}
.logoName{white-space: nowrap;} 
/* position: relative;top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); float: right;*/

	#image_style_01_1499907883102 .CompatibleImg img{width:100%; height:100%}@media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1499907883102 .CompatibleImg img{width:100%; height:auto; margin-left:0px}}@media screen and (max-width:640px) {#image_style_01_1499907883102 .CompatibleImg img{width:100%; height:100%}}
#image_style_01_1499907883102 a{
	cursor: default;
}

.imgStyle { height:100%; width:100%; overflow: hidden; box-sizing: border-box;}
.imgStyle>a{overflow: hidden; width: 100%; height: 100%;}
.imgStyle img{box-sizing: border-box;}

/* 清除浮动 */
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1}

.online-service-style01{ display:none }
.online-service .wrapper{ padding:5px 0; background-color:#fff }
.online-service .close,.online-service .button{
    -webkit-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;
}
.online-service.right .button div{ text-align:right; padding-right:5px }
.online-service.left .button div{ text-align:left; padding-left:5px }
.online-service .header, .online-service .footer{
    height:25px; line-height:25px;
    padding:0 .5em;
}
.online-service .header{ border-bottom:1px solid #eee }
.online-service .footer{ border-top:1px solid #eee; font-size:12px }
.online-service.right .footer{ text-align:right }
.online-service.left .footer{ text-align:left }
.online-service .content{ padding:.5em 1em }

.ol-qq-online .qq-btn{ float:left; margin-right:.5em }
.ol-qq-online .qq-btn img{ float:left }
.ol-qq-online{ line-height:25px }
.ol-image img{ width:100% }
.online-service-style01 .qq-btn-mobile{display:none;}
/*----------------------电脑板式样式----------------------*/
body > .online-service{display:block !important;}
/*----------------------平板板式样式----------------------*/
@media screen and (min-width:641px) and (max-width:1200px) {
    body > .online-service{display:block !important;}
}
/*----------------------手机板式样式----------------------*/
@media screen and (max-width:640px) {
    body > .online-service{display:none !important;}
}




/*菜单样式*/
.menuStyle_1{width:100%; position:relative;}
.menuStyle_1 *{transition:color,font-size,background,background-color,line-height,height,border,border-radius,box-shadow,opacity,padding,margin ease .3s; -webkit-transition:color,font-size,background,background-color,line-height,height,border,border-radius,box-shadow,opacity,padding,margin ease .3s; -moz-transition:color,font-size,background,background-color,line-height,height,border,border-radius,box-shadow,opacity,padding,margin ease .3s; -o-transition:color,font-size,background,background-color,line-height,height,border,border-radius,box-shadow,opacity,padding,margin ease .3s; box-sizing: border-box;}
.menuStyle_1 .dflex{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;}
.menuStyle_1 .rflex{-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1; float: left\0;}
.menuStyle_1 ul,.menuStyle_1 li{padding:0;margin:0px;list-style:none}
.menuStyle_1 .menuLayout{position:relative; margin:0 auto;width:100%;}
.menuStyle_1 .menuLayout:after{content:''; display:block; clear:both;}
.menuStyle_1 .menuUl_box{position:relative; width:100%; text-align:center;}
.menuStyle_1 .menuUl{position:relative; width:100%; text-align:center;}
.menuStyle_1 .menuUl li{position:relative;}
.menuStyle_1 .menuUl li>a{text-decoration:none; color:#4d5158;font-size:14px;height:44px; box-sizing:border-box; line-height:44px;display:block;text-align:center; letter-spacing:normal; white-space:nowrap; padding: 0 1em\0;}
.menuStyle_1 .menuUl li>a:hover{color:#f90}
.menuStyle_1 .menuUl #hot > a{color:#f90;}
.menuStyle_1 .menuLayout .miniMenu{display:none;}
.menuStyle_1 .menuUl02 {opacity: 0; display: none; position: absolute; left: 50%; height: 0; transform: translate(-50%,0); -webkit-transform: translate(-50%,0); -moz-transform: translate(-50%,0); -o-transform: translate(-50%,0);}
.menuStyle_1 .menuUl .rflex:hover .menuUl02 {opacity: 1; display: block; height: auto;}
.menuStyle_1 .menuUl02 .subMenu02 { float: none;}
.menuStyle_1 .menuUl02 .subMenu02 a { color: #333; width: 130px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 0 15px;}
.menuStyle_1 .menuUl02 .subMenu02 a:hover {}
.menuStyle_1 .rflex { position: relative;}




	
#dh_style_01_1501468333534 .menuUl02 .subMenu02>a .fa{position: absolute;top: 0;right: 0;}

@media screen and (max-width:640px) {
.menuStyle_1 .menuUl,.menuStyle_1 .menuUl_box {display:none;}
.menuStyle_1 .menuScroll{height: 84%; height: 84vh; width: 100%;}
.menuStyle_1 .menuScroll>.menuUlCopy{width: calc(100% + 18px); height: 100%; overflow-x: hidden; overflow-y: scroll; }
.menuStyle_1 .menuLayout .miniMenu{display:block; position:relative; overflow:hidden; width: 100%; height:44px;}
.menuStyle_1 .miniMenu .leftBox .sidebar{font-size:28px; line-height:44px; font-weight:normal;cursor:pointer;color:#4d5158; position:absolute; top:0; right:0px; width:44px; text-align:center;}
.menuStyle_1 .miniMenu .leftBox .nav{width:100%; height:44px;}
.menuStyle_1 .miniMenu .leftBox .menuUlCopy{padding:15px 0 15px 30px;}
.menuStyle_1 .miniMenu .leftBox .menuUlCopy li{width:100%; }
.menuStyle_1 .miniMenu .leftBox .menuUlCopy li a{width:100%; display:block; text-align:left;color:#fff; border-bottom:1px solid rgba(255,255,255,.2); text-decoration:none; font-size:16px; line-height:44px; white-space: nowrap;
overflow: hidden; text-overflow: ellipsis;} 
.menuStyle_1 .menuLayout .miniMenu.Mslide{height:100% !important; height:100vh !important; background:rgba(0,0,0,.85); position: fixed; width: 100%; top: 0; left: 0;}
.menuStyle_1 .menuLayout .miniMenu.Mslide .sidebar{color:#fff;}
.menuStyle_1 .menuLayout .miniMenu.Mslide .nav a{display:none !important;}
}

.breadcrumb {
	padding: 8px 15px;
	list-style: none;
	border-radius: 4px; 
}
.breadcrumb > li {
	display: inline-block;
}
.breadcrumb > li + li:before {
	content: "\003e\00a0";
	padding: 0 5px;
	color: #cccccc;
}
.breadcrumb > .active {
	color: #777777;
}

.location_style01 .fa-home{
	font-size:16px;
	margin-right:.25em;
}
.location_style01 .home-icon{
	height: 1.5em;
	float: left;
	margin-right:.8em;
}
	#image_style_01_1500020488997 .CompatibleImg img{width:100%; height:100%}@media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1500020488997 .CompatibleImg img{width:100%; height:100%}}@media screen and (max-width:640px) {#image_style_01_1500020488997 .CompatibleImg img{width:100%; height:100%}}
#image_style_01_1500020488997 a{
	cursor: default;
}

.imgStyle { height:100%; width:100%; overflow: hidden; box-sizing: border-box;}
.imgStyle>a{overflow: hidden; width: 100%; height: 100%;}
.imgStyle img{box-sizing: border-box;}

	#image_style_01_1500020620875 .CompatibleImg img{width:100%; height:100%}@media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1500020620875 .CompatibleImg img{width:100%; height:100%}}@media screen and (max-width:640px) {#image_style_01_1500020620875 .CompatibleImg img{width:100%; height:100%}}
#image_style_01_1500020620875 a{
	cursor: default;
}

.imgStyle { height:100%; width:100%; overflow: hidden; box-sizing: border-box;}
.imgStyle>a{overflow: hidden; width: 100%; height: 100%;}
.imgStyle img{box-sizing: border-box;}

	#image_style_01_1500021121354 .CompatibleImg img{width:100%; height:100%}@media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1500021121354 .CompatibleImg img{width:100%; height:100%}}@media screen and (max-width:640px) {#image_style_01_1500021121354 .CompatibleImg img{width:100%; height:100%}}
#image_style_01_1500021121354 a{
	cursor: default;
}

.imgStyle { height:100%; width:100%; overflow: hidden; box-sizing: border-box;}
.imgStyle>a{overflow: hidden; width: 100%; height: 100%;}
.imgStyle img{box-sizing: border-box;}
h1{font-size: 2em;font-weight:bold;}h2{font-size: 1.5em;font-weight:bold;}h3{font-size: 1.17em;font-weight:bold;}h4{font-weight:bold;}h1{font-size: 2em;font-weight:bold;}h2{font-size: 1.5em;font-weight:bold;}h3{font-size: 1.17em;font-weight:bold;}h4{font-weight:bold;}.imgStyle_11{position:relative; clear: both; width: 100%; height: 100%;}
.imgStyle_11 ul{width: 100%; display: -webkit-flex; display: -moz-flex; display: flex; flex-wrap:wrap; justify-content:space-between;}
.imgStyle_11 ul li.imgItems{position: relative; overflow: hidden !important; width: 19%; box-sizing:border-box; margin-bottom:10px;
	-webkit-transition: all ease .2s;
	-moz-transition: all ease .2s;
	-ms-transition: all ease .2s;
	-o-transition: all ease .2s;
	transition: all ease .2s;
	}
.imgStyle_11 ul li .ratio{margin-top: 100%;}
.imgStyle_11 ul li a{}
.imgStyle_11 ul li:hover{z-index: 2; transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1);}
.imgStyle_11 ul li a img{position: absolute; width: auto; height: 100%; top: 50%; left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-transition: all ease .2s;
	-moz-transition: all ease .2s;
	-ms-transition: all ease .2s;
	-o-transition: all ease .2s;
	transition: all ease .2s;
}


.imgStyle_11 .theimgtext{height:30px;line-height: 30px;font-size: 14px;color:black;width:100%;text-align: center;word-break: keep-all;overflow: hidden;text-overflow: ellipsis;}
.imgStyle_11 .theimgdiv{width:100%;height:100%;background-repeat: no-repeat !important;background-position-x: 50% !important;background-position-y: 50% !important;background-size: auto 100% !important;}

.imgShowBox{position: fixed; z-index: 99999; background-color: rgba(0, 0, 0, 0.4); top: 0; left: 0; width: 100%; height: 100%;}
.imgShowBox img{ position: absolute; width: auto; max-width: 80%; border: 20px solid #fff;top: 50%; left: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); box-shadow: 0 0 10px rgba(0,0,0,.3);}
.imgShowBox.scroll{overflow-y:scroll;overflow-x:hidden;}
.imgShowBox.scroll::-webkit-scrollbar {width: 6px; height: 6px; background: rgba(0,0,0,.05);}
.imgShowBox.scroll::-webkit-scrollbar{width: 6px; height: 6px; background: rgba(0,0,0,.02);}
.imgShowBox.scroll::-webkit-scrollbar-button{background: #f7f7f7; height: 0;}
.imgShowBox.scroll::-webkit-scrollbar-corner{background: rgba(0,0,0,.05);}
.imgShowBox.scroll::-webkit-scrollbar-thumb{background: rgba(255,255,255,.7); border-radius: 3px;}

.imgShowBox.scroll img{top:5%; margin-bottom: 5%; transform: translate(-50%,0%); -webkit-transform: translate(-50%,0%); -moz-transform: translate(-50%,0%); -o-transform: translate(-50%,0%);}
.pos_fixed{position: fixed; width: 100%;}
.imgButton{position: fixed; width: 70%; max-width: 400px; bottom: 15%; left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	display: -webkit-flex; display: -moz-flex; display: flex; flex-wrap:nowrap; justify-content:space-between; align-items:center;}
.imgButton span{display: inline-block; cursor:pointer; box-shadow: 0 0 6px rgba(0,0,0,.2);
	-webkit-transition: all ease .2s;
	-moz-transition: all ease .2s;
	-ms-transition: all ease .2s;
	-o-transition: all ease .2s;
	transition: all ease .2s;
}
.imgButton span:hover{opacity: .8;}
.imgButton span i{font-size: inherit; line-height: inherit; color:inherit;}
.imgButton span.prevImg, .imgButton span.nextImg, .imgButton span.closeShowPic{ font-size: 40px; width: 50px; height:50px; line-height: 50px;  border-radius: 100%;font-family: serif; background-color: #fff; text-align: center; box-sizing: border-box;}
.imgButton span.prevImg, .imgButton span.nextImg{font-size: 26px; width: 40px; height: 40px; line-height: 40px; text-align: center;}
@media screen and (max-width: 1024px){.imgStyle_11 ul li{width: 24%;}}
@media screen and (max-width: 768px){
	.imgStyle_11 ul li{width: 49%;}
	.imgShowBox img{border-width: 10px;}
	.imgShowBox.scroll img{top:5%; margin-bottom: 10vh;}
}



        /*pc*/
                #image_style_11_1591941437197 ul li .ratio{margin-top: 133%; float: left;}
        #image_style_11_1591941437197  ul li{width: 23.5%;}
        #image_style_11_1591941437197  ul li.imgItems{margin-bottom:2%;}

        @media screen and (max-width: 1024px){/*ipad*/
                #image_style_11_1591941437197 ul li .ratio{margin-top: 133%; float: left;}
        #image_style_11_1591941437197  ul li{width: 23.5%;}
        #image_style_11_1591941437197  ul li.imgItems{margin-bottom:2%;}
        }
        @media screen and (max-width: 768px){/*mobi*/
                #image_style_11_1591941437197 ul li .ratio{margin-top: 133%; float: left;}
        #image_style_11_1591941437197  ul li{width: 32%;}
        #image_style_11_1591941437197  ul li.imgItems{margin-bottom:2%;}
        }
    
	#image_style_01_1499954777108 .CompatibleImg img{width:100%; height:auto; margin-left:0px}@media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1499954777108 .CompatibleImg img{width:100%; height:auto; margin-left:0px}}@media screen and (max-width:640px) {#image_style_01_1499954777108 .CompatibleImg img{width:100%; height:auto; margin-left:0px}}
#image_style_01_1499954777108 a{
	cursor: default;
}

.imgStyle { height:100%; width:100%; overflow: hidden; box-sizing: border-box;}
.imgStyle>a{overflow: hidden; width: 100%; height: 100%;}
.imgStyle img{box-sizing: border-box;}

	#image_style_01_1499954921323 .CompatibleImg img{width:100%; height:100%}@media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1499954921323 .CompatibleImg img{width:100%; height:100%}}@media screen and (max-width:640px) {#image_style_01_1499954921323 .CompatibleImg img{width:100%; height:100%}}
#image_style_01_1499954921323 a{
	cursor: default;
}

.imgStyle { height:100%; width:100%; overflow: hidden; box-sizing: border-box;}
.imgStyle>a{overflow: hidden; width: 100%; height: 100%;}
.imgStyle img{box-sizing: border-box;}

	#image_style_01_1499994104716 .CompatibleImg img{width:100%; height:auto; margin-left:0px}@media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1499994104716 .CompatibleImg img{width:100%; height:auto; margin-left:0px}}@media screen and (max-width:640px) {#image_style_01_1499994104716 .CompatibleImg img{width:100%; height:auto; margin-left:0px}}
#image_style_01_1499994104716 a{
	cursor: default;
}

.imgStyle { height:100%; width:100%; overflow: hidden; box-sizing: border-box;}
.imgStyle>a{overflow: hidden; width: 100%; height: 100%;}
.imgStyle img{box-sizing: border-box;}

	#image_style_01_1499955202692 .CompatibleImg img{width:100%; height:100%}@media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1499955202692 .CompatibleImg img{width:100%; height:100%}}@media screen and (max-width:640px) {#image_style_01_1499955202692 .CompatibleImg img{width:100%; height:100%}}
#image_style_01_1499955202692 a{
	cursor: default;
}

.imgStyle { height:100%; width:100%; overflow: hidden; box-sizing: border-box;}
.imgStyle>a{overflow: hidden; width: 100%; height: 100%;}
.imgStyle img{box-sizing: border-box;}

	#image_style_01_1499955094092 .CompatibleImg img{width:100%; height:100%}@media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1499955094092 .CompatibleImg img{width:100%; height:100%}}@media screen and (max-width:640px) {#image_style_01_1499955094092 .CompatibleImg img{width:100%; height:100%}}
#image_style_01_1499955094092 a{
	cursor: default;
}

.imgStyle { height:100%; width:100%; overflow: hidden; box-sizing: border-box;}
.imgStyle>a{overflow: hidden; width: 100%; height: 100%;}
.imgStyle img{box-sizing: border-box;}
h1{font-size: 2em;font-weight:bold;}h2{font-size: 1.5em;font-weight:bold;}h3{font-size: 1.17em;font-weight:bold;}h4{font-weight:bold;}
				.bottomMenu{width: 100%; box-sizing:border-box; display: none;position:fixed;bottom:0; z-index:999999;}

				.bottomMenu ul{position: relative; box-sizing: border-box; width: 100%; height: 50px; background-color: #FFFFFF; border-top: 1px solid #ddd; box-shadow: 0 0px 6px rgba(0,0,0,.1); display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
				.bottomMenu ul li{position:relative; box-sizing: border-box; -webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;}
				.bottomMenu ul li .menuItem{position: relative;}
				.bottomMenu ul li .menuIco{width: 26px; height: 26px; overflow: hidden; margin: 0 auto 4px;}
				.bottomMenu ul li .menuIco img{width: 100%; height: 100%;padding:2px 1px 0;box-sizing:border-box;}
				.bottomMenu ul li .menuName{font-size: 12px; white-space: nowrap; margin: auto; text-align: center; color: #666666; line-height: 1;font-family:Microsoft YaHei;}
				.bottomMenu ul li .submenuItems{position: absolute; bottom: 48px; z-index:999999; width: 100%; text-align: center; border: 1px solid #ddd; background-color: #fff; box-shadow: 0 0px 6px rgba(0,0,0,.1);}
				.bottomMenu ul li .submenuItems a{display: block; height: 36px; line-height: 36px; font-size: 12px; color: #333; border-bottom: 1px solid #ddd; }
				@media screen and (max-width:767px) {
					.bottomMenu{display: block;}
					
					body{padding-bottom:55px!important;}
				}
				